/* Global Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
  padding-top: 80px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: #E03616;
  border: none;
  color: white;
  padding: 5px 11px;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 30px;
}

button:hover {
  background-color: #9e340d;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #140C5F;
  color: white;
  padding: 10 20px;
  height: 80px;
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .logo img {
  height: 60px;
  margin-left: 70px;
  margin-right: 2px;
  padding: 0 0px;
}

/* Ranking Section */
.leaderboard-ranking {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  margin: 20px auto; 
}

.leaderboard-ranking h3 {
  background: #E03616;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px; 
  width: 100%; 
}


.leaderboard-ranking-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin-bottom: 10px;
  background: white;
  transition: box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.leaderboard-ranking-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.leaderboard-rank-number {
  width: 35px;
  height: 50px;
  justify-content: center;
  margin-right: 16px;
}

.leaderboard-rank-info p {
  margin: 0;
  line-height: 1.5;
  font-size: 13px;
  color: black;
  text-align: left;
  font-weight: bold;
}

.leaderboard-rank-score {
  font-size: 30px; 
  font-weight: bold;
  padding-left: 300px;
  color: white; 
  -webkit-text-stroke: 1px gray; 
  text-shadow: 
    1px 1px 2px rgba(0, 0, 0, 0.3), 
    -1px -1px 2px rgba(0, 0, 0, 0.3); 
}

/* Agenda Section */
.agenda-header {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 20px;
}

.agenda {
  text-align: center;
  padding: 20px;
  background-color: #242F6F;
  color: white;
  margin: 50px auto;
  border-radius: 20px;
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.agenda h2 {
  font-size: 1.5rem;
  margin: 0px;
}

.tambah-data {
  background-color: #1ABC9C;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 0px;
  text-decoration: none;
}

.agenda-list {
  background-color: white;
  display: flex;
  gap: 20px;  
  padding: 20px; 
  overflow-x: auto;
  white-space: nowrap;
  
}

.agenda-list::-webkit-scrollbar {
  height: 10px;
}

.agenda-list::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px;
}

.agenda-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.agenda-item {
  background: white;
  color: black;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.delete-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background: red;
  padding: 5px;
  margin-left: auto;
  margin-bottom: 10px;
}

.edit-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: blue;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.agenda-item-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0px;
  margin-top: -30px;
}

.time-icon {
  width: 20px;
  height: 20px;
}

.agenda-item a {
  color: #1ABC9C;
  text-decoration: none;
  font-weight: bold;
  text-align: right;
}

.edit-delete-icons {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.edit-delete-icons .edit-icon,
.edit-delete-icons .delete-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 5px;
}
.edit-delete-icons .edit-icon {
  background-color: blue;
}
.edit-delete-icons .delete-icon {
  background: red;
}

.agenda-item h3 {
  margin-top: 40px; 
}

.agenda-item p {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.popup-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color:  whitesmoke;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.close-btn {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  z-index: 1100;
}

.input-agenda-form {
  position: relative;
  flex: 1;
  padding: 20px;
}

.input-agenda-form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.input-agenda-form label {
  width: 40%;
  padding-right: 30px;
  text-align: left;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  display: flex;
}

.input-agenda-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.input-agenda-form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 0px;
}

.input-agenda-form button {
  width: 90px;
  height: 30px;
  border: none;
  border-radius: 7px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-agenda-btn-unggah {
  background-color: #009F58;
  color: white;
}

.input-agenda-form button:hover {
  opacity: 0.9;
}


/* Features Section */
.features {
  padding: 50px 20px;
  text-align: center;
}

.features h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.features-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.feature {
  background: #242F6F;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.feature h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.feature-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* FAQ Section */
.faq {
  background: #F8F8F8;
  padding: 50px 20px;
  text-align: center;
}

.faq h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.faq-list button {
  display: block;
  width: 100%;
  text-align: left;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  cursor: pointer;
}

.faq-list button:hover {
  background: #f4f4f4;
}

/* Footer Section */
.footer {
  background: #242F6F;
  color: #fff;
  padding: 20px 50px;
  text-align: center;
}

.footer img {
  margin: 10px;
  width: 30px;
}

.footer p {
  margin: 5px 0;
}

.contact {
  text-align: center;
}

.contact img {
  width: 50px;
  margin: 10px;
}
