/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

/* Background Styling */
.background {
    background: url('../img/background.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay {
    background: rgba(0, 0, 0, 0.0); /* Overlay effect */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Login Card Styling */
.login-card {
    background: rgba(0, 0, 102, 0.658);
    border-radius: 12px;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    height: auto;
}

h2 {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 12px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #E03C31;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c32c24;
}

.forgot-password {
    display: block;
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    text-align: left;
    margin-left: 0; 
}

.forgot-password:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .login-card {
        width: 90%;
    }
}
