.input-agenda-container {
  position: relative;
  max-width: 800px;
  margin: 30px auto;
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.input-agenda-title h2 {
  background-color: #140C5F;
  color: white;
  padding: 5px;
  margin: 0px;
  margin-right: 340px;
  margin-left: 340px;
  margin-top: 50px;
  text-align: center;
}

.input-agenda-form {
  position: relative;
  flex: 1;
  padding: 20px;
}

.input-agenda-form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.input-agenda-form label {
  width: 20%;
  padding-right: 30px;
  text-align: left;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  display: flex;
}

.input-agenda-form input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.input-agenda-form textarea {
  resize: vertical;
  height: 80px;
}

.input-agenda-form input[type="file"] {
  padding: 5px;
}

.input-agenda-form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 20px;
}

.input-agenda-form button {
  width: 90px;
  height: 30px;
  border: none;
  border-radius: 7px;
  font-size: 14px;
  cursor: pointer;
}

.input-agenda-btn-batal {
  background-color: #E03616;
  color: white;
}

.input-agenda-btn-unggah {
  background-color: #009F58;
  color: white;
}

.input-agenda-form button:hover {
  opacity: 0.9;
}