.judul {
    background-color: #140C5F;
    color: white;
    padding: 10px;
    margin: 5px;
    text-align: left;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.192);
}

.judul h1 {
    font-size: 24px;
    margin: 0;
}

.contact-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.contact-info h3 {
    margin-top: 0;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
}

.contact-info ul li strong {
    color: #00459f;
}

.welcome h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.welcome p {
    font-size: 16px;
    margin-bottom: 20px;
}
