.profile-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
    color: black;
}
.profile-card h3 {
    margin-top: 0;
    font-size: 20px;
    position: relative;
}
.profile-card h3::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.profile-card .profile-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}
.profile-card .profile-info img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 20px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.541);
}
.profile-card .profile-info .info {
    width: 750px;
    background-color: #140C5F;
    color: white;
    border-radius: 15px;
    padding: 10px;
}
.profile-card .profile-info .info label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.profile-card .profile-info .info input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}
.profile-card .profile-info .info .simpan-button {
    display: flex;
    justify-content: flex-end;
}
.profile-card .profile-info .info .simpan-button button {
    background-color: #009F58;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.ubah-foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.ubah-foto button {
    margin-top: 10px;
    background-color: #140C5F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.541);
}
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar img {
        width: 80px;
        height: 80px;
    }
    .main-content {
        margin-left: 0;
        width: 100%;
    }
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
}