.judul {
    background-color: #140C5F;
    color: white;
    padding: 10px;
    margin: 5px;
    text-align: left;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.192);
}

.judul h1 {
    font-size: 24px;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.action-buttons a {
    color: white;
    padding: 7px 20px;
    margin: 0 5px;
    border-radius: 5px;
    text-decoration: none;
}

.diterima {
    background-color: #01FB37;
    border-radius: 15px;
    padding: 5px;
    margin: 1px;
}

.ditolak {
    background-color: #FF2800;
    border-radius: 15px;
    padding: 5px 5px;
    margin: 1px;
    color: white;
}

.prosses {
    background-color: #FFEB11;
    border-radius: 15px;
    padding: 5px;
    margin: 1px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
    .button-container button {
        width: 100%;
        margin-bottom: 10px;
    }
    table, th, td {
        font-size: 12px;
    }
}